<ul class="alert alert-danger" *ngIf="errores?.length>0">
    <li *ngFor="let err of errores">{{err}}</li>
</ul>
<div class="card bg-dark text-white">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">

        <form #clienteForm="ngForm">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-content" [(ngModel)]="cliente.first_name" name="nombre" required minlength="4" #nombre="ngModel">
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required">
                            Nombre es requerido
                        </div>
                        <div *ngIf="nombre.errors.minlength">
                            Nombre debe contener minimo 4 caracteres
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-content" [(ngModel)]="cliente.last_name" name="apellido" required #apellido="ngModel">
                    <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                        <div *ngIf="apellido.errors.required">
                            Apellido es requerido
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-2">Estado</label>
                <div class="col-sm-6">
                    <input type="text" class="form-content" [(ngModel)]="cliente.address_state" name="estado" required #estado="ngModel">
                    <div class="alert alert-danger" *ngIf="estado.invalid && (estado.dirty || estado.touched)">
                        <div *ngIf="estado.errors.required">
                            Estado es requerido
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-content" [(ngModel)]="cliente.email_address" name="email" required email #email="ngModel">
                    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                            Email es requerido
                        </div>
                        <div *ngIf="email.errors.email">
                            Debe tene formato valido
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>
                <ng-template #elseBlock>
                    <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!clienteForm.form.valid">Editar</button>
                </ng-template>
                </div>
            </div>

        </form>

    </div>
</div>